@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main div#todoDiv div section.noCategory button:first-child {
  background-color: #222222;
}

main div#todoDiv div section.noCategory button:last-child {
  background-color: #000000;
} */

main div#todoDiv div.complete {
  border-color: #555555;
}

main div#todoDiv div.complete p {
  text-decoration: line-through;
}

main div#todoDiv div.complete section {
  grid-template-columns: 1fr;
}

main div#todoDiv div.complete section button:first-child {
  display: none;
}

main div#todoDiv div.complete section button:last-child {
  background-color: #555555;
}
