* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.todoComplete {
  border-color: #cbd5e1 !important;
}

div.todoComplete section p {
  text-decoration: line-through;
}

div.todoComplete section:last-child {
  color: black;
}

div.todoComplete section:last-child button:first-child {
  background-color: #e2e8f0 !important;
}

div.todoComplete section:last-child button:last-child {
  background-color: #cbd5e1 !important;
}

div.categoryExists {
  border-color: #020617;
}

div.categoryExists section:last-child button:first-child {
  background-color: #065f46;
}

div.categoryExists section:last-child button:last-child {
  background-color: #9f1239;
}
